.logout {
  position: absolute;
  top: 25px;
  right: 2.5%;
  padding-right: 42px;

  color: $blue;
  font-weight: 400;
  font-size: 20px;

  background-color: transparent;
  border: none;

  cursor: pointer;
  user-select: none;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;

    background: url('../../assets/img/log-out.svg') center no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.5;
  }
}
